#container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em 35%;
}
.warn {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
}